streamlit_aggrid
streamlit==0.73.0
numpy
ortools==8.0.8283
graphviz==0.15
geopy==2.1.0
pandas
matplotlib
pydeck
streamlit_bokeh_events==0.1.2
prometheus_client==0.8.0
mysql_connector_repackaged==0.3.1
Pillow==8.1.2
stqdm==0.0.3
streamlit_echarts==0.2.0
openpyxl